API_PORT=3200
SERVER_IP=VIDEO_SERVER_IP

INGRESS_ENABLED=false
ALERT_PROCESSING_ENABLED=false
VIDEO_PROCESSING_ENABLED=true
LOCAL_BUFFER_CAPTURE_ENABLED=true
DB_ENABLED=false

INTERNAL_WORKER_TOKEN=replace_me
CORS_ORIGIN=*

RAW_LOG_ONLY=false
BACKGROUND_STREAMS_ENABLED=true
KEEP_STREAMS_WITHOUT_CLIENTS=true
AUTO_SCREENSHOT_FANOUT_ENABLED=false

RETENTION_CHECK_INTERVAL_MS=1800000
MAX_DISK_USE_PERCENT=85
EMERGENCY_DISK_USE_PERCENT=92
